.footer {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    float: left;
    text-align: center;
    width: 100%;
}

.footer a:hover {
    color: #222;
}