<div class="container-fluid">
    <footer class="footer">
        Copyright &copy; Ruby on Rails blog engine application by 
        <a href="https://github.com/OlegStotsky">Oleg Stotsky</a>
    </footer>
</div>